.App {
    background-color: lightgrey;
    display: flex;
    margin: 40px;
    min-height: calc(100vh - 80vh);
}

.left {
    background-color: rgb(190, 240, 240);
    color: rgb(155, 85, 6);
}

.right {
    background-color: teal;
    color: rgb(228, 162, 57);
}